<form method="POST" enctype="multipart/form-data">
  <label for="input-name" >Name</label>
  <input type="text" id="input-name" name="name" placeholder="Your Name" value="{{user.name}}" />
  
  <label for="photo">Update Your Profile Picture</label>
  <input type="file" name="photo">
  
  <button>Update</button>
</form>