<h1>Update your game</h1>

<form action="" method="POST" enctype="multipart/form-data">
  <label for="input-name">Game:</label>
  <input id="input-name" type="text" value="{{game.name}}" name="name">

  <label for="input-date">Purchase date:</label>
  <input id="input-date" type="date" value="{{game.date}}" name="date">
  
  <label for="input-content">Description</label>
  <textarea id="input-content" type="content" value="Briefly description of the game" name="content">{{game.content}}</textarea>

  <label for="input-photo">Update game photo</label>
  <img src="{{game.photo}}" alt="game photo">
  <input id="input-photo" type="file" name="photo">

  <button><a href="/profile">Edit Game</a></button>
</form>