<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>



<div id="map-container"></div>


<script>
  function init () {
    const mapContainerElement = document.getElementById('map-container');
    const map = new window.google.maps.Map(mapContainerElement, {
      center: {
        lat: 38.77,
        lng: -9.13
      },
      zoom: 11
    });
    const places = {{{ json places }}};
    for (let place of places) {
      const marker = new window.google.maps.Marker({
        map,
        position: {
          lat: place.location.coordinates[0],
          lng: place.location.coordinates[1]
        }
      });
      marker.addListener('click', () => {
        const endpoint = `/place/${ place._id }`;
        window.location = endpoint;
      });
    }
  }
</script>


<script>
  const triggerLocationButton = document.getElementById('trigger-location');
  const latitudeInputElement = document.getElementById('latitude-input');
  const longitudeInputElement = document.getElementById('longitude-input');
  triggerLocationButton.addEventListener('click', () => {
    window.navigator.geolocation.getCurrentPosition(position => {
      const latitude = position.coords.latitude;
      const longitude = position.coords.longitude;
      latitudeInputElement.value = latitude;
      longitudeInputElement.value = longitude;
    }, error => {
      console.log(error);
    })
  });
</script>

<script defer src="https://maps.googleapis.com/maps/api/js?key={{environmentVariables.GOOGLE_MAPS_API_KEY}}&callback=init"></script>



