<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      {{#if user}}
      <form action="/game/platform" method="GET" style="display: inline; margin-right: 0.7rem">
       <button>Choose platform</button>
        <select id="select-platform" name="platform">
        <option value="Xbox">Xbox</option>
        <option value="Playstation">Playstation</option>
        <option value="Nintendo Switch">Nintendo Switch</option></select>
       </form>
  
        <a href="/profile">Your account</a>
        <a href="/game/create">Post your game!</a>
        <form action="/authentication/sign-out" method="POST">
          <button>Sign Out</button>
        </form>
        {{else}}
        <a href="/authentication/sign-in">Sign In</a>
        <a href="/authentication/sign-up">Sign Up</a>
      {{/if}}
    </nav>
    {{{body}}}
    <script src="/scripts/script.js"></script>
  </body>
</html>
