<h1>Welcome</h1>
<p>This is your profile</p>
<span><strong>Name</strong>: {{user.name}}</span>
<br />
<span><strong>Email</strong>: {{user.email}}</span>

{{#if user.photo}}
  <br>
  <img src="{{ user.photo }}" alt="user photo">
{{/if}}
<br>
<a href="/profile/edit"> Edit your profile!</a>