<h1>Welcome</h1>
<p>This is your profile</p>
<span><strong>Name</strong>: {{user.name}}</span>
<br />
<span><strong>Email</strong>: {{user.email}}</span>

<a href="/profile/edit"> Edit your profile!</a>