<div class="sign">
<form action="/authentication/sign-up" method="POST" enctype="multipart/form-data">
  
  <label for="input-name">Name</label>
  <input type="text" id="input-name" name="name" placeholder="Your Name" />
  
  <label for="input-email">Email</label>
  <input type="email" id="input-email" name="email" placeholder="Your Email" />
  
  <label for="input-photo">Profile Picture</label>
  <input type="file" name="photo" id="input-photo" name="photo">
  
  <label for="input-password">Password</label>
  <input type="password" name="password" id="input-password" placeholder="A Strong Password" />

  <label for="input-wishlist">Wishlist</label>
  <textarea type="text" id="input-wishlist" name="wishlist" placeholder="Tell us the games you're looking to trade" name="wishlist"></textarea>
  
  <label for="input-latitude"> Click on the map below to choose your preferred game swapping location!</label>
  <div id="map-container"></div>
  <label for="latitude-input" style="display: none">Latitude</label>
  <input id="latitude-input" type="text" placeholder="Latitude" name="latitude" style="display: none">
  
  <label for="longitude-input" style="display: none">Longitude</label>
  <input id="longitude-input" type="text" placeholder="Longitude" name="longitude" style="display: none">
  <button>Sign Up</button>
</form>





<script>
  function init () {
    const mapContainerElement = document.getElementById('map-container');
    const map = new window.google.maps.Map(mapContainerElement, {
      center: {
       lat: 38.77,
        lng: -9.13
      },
      zoom: 13
    });
    let marker;
    const latitudeInputElement = document.getElementById('latitude-input');
    const longitudeInputElement = document.getElementById('longitude-input');
    map.addListener('click', event => {
      const latitude = event.latLng.lat();
      const longitude = event.latLng.lng();
      if (marker) {
        marker.setMap(null);
      }
      marker = new window.google.maps.Marker({
        map,
        position: {
          lat: latitude,
          lng: longitude
        }
      });
      latitudeInputElement.value = latitude;
      longitudeInputElement.value = longitude;
    });
  }
</script>





<script defer src="https://maps.googleapis.com/maps/api/js?key={{environmentVariables.GOOGLE_MAPS_API_KEY}}&callback=init"></script>
</div>

