@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
aside {
  background-color: white;
  height: 100%;
  width: 30%;
  text-align: center;
  padding: 1rem;
  box-shadow: 10px 10px 0px 0px #4f4e4f; }

.profile-image {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  float: right; }

.intro-to-profile {
  display: flex;
  flex-wrap: wrap;
  height: 10%; }
  .intro-to-profile .user-text {
    width: 75%;
    height: 30%; }
  .intro-to-profile .user-img {
    width: 25%;
    height: 30%; }

.profile-view {
  display: flex;
  flex-wrap: wrap; }

.the-rest-of-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%; }

.incoming {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center; }
  .incoming .title {
    margin-bottom: 30px;
    background-color: white;
    padding: 0.5em 1em 0.5em;
    box-shadow: 10px 10px 0px 0px #4f4e4f; }
    .incoming .title h3 {
      margin-bottom: 0px; }
  .incoming img {
    display: block;
    margin-bottom: 20px;
    min-width: 30vw;
    max-width: 50vw;
    margin-left: auto;
    margin-right: auto;
    justify-content: center; }

.carousel-item {
  width: 100%; }

.carousel-control-next-icon:after {
  content: '>';
  font-size: 3rem;
  color: red; }

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 3rem;
  color: red; }

h2 {
  font-size: 2.5rem;
  text-align: center;
  margin: 1.5rem; }

p {
  font-size: 1.3rem;
  text-align: center; }

.each-offer-text {
  display: flex;
  width: 70%;
  height: 100%;
  margin: 0.5rem; }
  .each-offer-text button {
    height: 2rem;
    width: 3rem; }

.offer-image {
  width: 50%;
  height: 100%; }
  .offer-image img {
    width: 100%;
    height: 100%;
    margin: 0 auto; }

.display-img {
  height: 50vh;
  width: auto; }

.deal-img {
  height: 50vh;
  width: auto;
  margin: 0 auto;
  display: block; }

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0; }

body {
  background-color: #94cfc6;
  font-family: "Roboto", Arial, sans-serif; }

h1,
h2,
h3,
p {
  margin: 0;
  line-height: inherit; }
  h1:not(:last-child),
  h2:not(:last-child),
  h3:not(:last-child),
  p:not(:last-child) {
    margin-bottom: 1rem; }

a {
  text-decoration: none !important;
  color: #008c6b; }

img {
  width: 100%;
  max-width: 100%; }

form {
  display: flex;
  flex-direction: column; }

input,
textarea,
button {
  padding: 1em;
  border: 1px solid rgba(191, 191, 191, 0.5);
  border-radius: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background-color: white; }

textarea {
  min-height: 8em;
  resize: vertical; }

.body-margin {
  padding-bottom: 6rem; }

.btn-primary {
  background-color: #008c6b;
  border-color: #94cfc6;
  border-radius: 0px; }

.btn-primary:hover {
  background-color: #94cfc6;
  border-color: #94cfc6; }

.btn-secondary {
  background-color: #ff9f1c;
  color: #000;
  font-weight: 700;
  border-color: transparent;
  box-shadow: 10px 10px 0px 0px #4f4e4f;
  border-radius: 0px; }

.btn-secondary:hover {
  background-color: #ffbf69;
  color: #000;
  font-weight: 700;
  border-color: transparent; }

.btn-secondary-light {
  background-color: #ffbf69;
  color: #000;
  font-weight: 700;
  border-color: transparent;
  box-shadow: 10px 10px 0px 0px #4f4e4f; }

.btn-secondary-light:hover {
  background-color: #ff9f1c;
  color: #000;
  font-weight: 700;
  border-color: transparent; }

.subtitle {
  display: flex;
  justify-content: flex-end;
  background-color: #4f4e4f;
  color: #ff9f1c;
  padding: 10px;
  margin: 2em 0 1em 0; }
  .subtitle h5 {
    margin-bottom: 0px; }

.logo-gc {
  color: #008c6b;
  font-weight: 700;
  font-size: 1.5em;
  text-shadow: 1px 1px #8d8d8d;
  letter-spacing: 2px; }

#map-container {
  align-self: center;
  width: 100%;
  height: 70vh; }

nav {
  font-weight: 700;
  height: 4.5rem; }
  nav .nav-link {
    text-align: center; }
  nav .btn-sign-in {
    margin-top: 3px; }
  nav .nav-text {
    padding: 0;
    margin-left: 0;
    margin-bottom: 0; }
  nav .btn-sign-up {
    margin-top: 5px;
    width: 96px; }
  nav .first-icon {
    padding-top: 12px; }
  nav .second-icon {
    padding-top: 12px; }

#carouselExampleInterval {
  margin: 2rem 0;
  height: 40vh;
  max-height: 40vh; }
  #carouselExampleInterval img {
    object-position: top;
    height: 36vh;
    width: 100%; }

.games-grid-image {
  width: 100%;
  height: 22rem;
  display: flex;
  align-items: center; }

.grid-image {
  max-height: 80vw; }

.game-search {
  margin-top: 8px; }

.comment-data {
  text-align: left !important; }

.comment {
  margin-top: 0.5rem;
  margin-left: 3.7rem; }

.sign label {
  color: white;
  font-weight: bold;
  padding: 20px 0px 10px;
  margin-bottom: 0; }

.sign input {
  color: gray;
  box-shadow: 10px 10px 0px 0px #4f4e4f; }

.sign input:focus {
  color: black; }

.sign textarea {
  box-shadow: 10px 10px 0px 0px #4f4e4f; }

.sign select {
  padding: 1em;
  border: 0px;
  color: gray;
  box-shadow: 10px 10px 0px 0px #4f4e4f; }

.sign button {
  box-shadow: 10px 10px 0px 0px #4f4e4f; }

.game-img-single-deal div {
  margin-bottom: 30px;
  background-color: white;
  padding: 0.5em 1em 0.5em;
  box-shadow: 10px 10px 0px 0px #4f4e4f; }

.game-img-single-deal h3 {
  margin-bottom: 0px; }

.game-img-single-deal img {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  min-width: 30vw;
  max-width: 50vw;
  margin-left: auto;
  margin-right: auto;
  justify-content: center; }

.game-img-single-deal p {
  font-size: small; }

.game-search {
  margin-top: 8px; }

.mobile-actions .button-signout {
  background: none !important;
  border: none;
  padding: 0 !important;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer; }

.mobile-actions span {
  color: #fff;
  background-color: #008c6b;
  padding: 2px 8px; }

@media (min-width: 768px) {
  .body-margin {
    padding-top: 2rem;
    width: 50vw; }
  nav {
    font-weight: 700;
    height: 5rem; }
    nav .nav-item {
      height: 40px; }
    nav .cta-btn {
      margin-bottom: 8px;
      margin-top: 12px; }
    nav .user-image {
      width: 60px;
      height: 60px; }
    nav .btn-search {
      position: absolute; }
  #search-bar .game-search {
    width: 50%;
    margin-top: 0; }
  .games-grid-image {
    width: 100%;
    height: 14rem;
    display: flex;
    align-items: center; }
  .grid-image {
    max-height: 13rem; }
  #map-container {
    width: 100%;
    height: 70vh; }
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; }
  .dropdown button {
    padding: 0;
    margin: 0;
    border: none; } }

/*# sourceMappingURL=style.css.map */