@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$font-sans: 'Roboto', Arial, sans-serif;
$grey: hsla(0, 0, 75%, 0.5);

$white: #fff;
$light-green: #94cfc6;
$dark-green: #008c6b;
$light-yellow: #ffbf69;
$dark-yellow: #ff9f1c;

.profile-image {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  float: right;
}
.intro-to-profile {
  display: flex;
  flex-wrap: wrap;
  height: 10%;

  .user-text {
    width: 75%;
    height: 30%;
  }
  .user-img {
    width: 25%;
    height: 30%;
  }
}

.profile-view {
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    height: 4.5rem;
    width: 4rem;
    outline: black;
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid black;
    background-image: none;
    padding-bottom: 1rem;
  }

  .carousel-control-next-icon:after {
    content: '>';
    font-size: 3rem;
    color: red;
  }

  .carousel-control-prev-icon:after {
    content: '<';
    font-size: 3rem;
    color: red;
  }
  h2 {
    font-size: 2.5rem;
    text-align: center;
    margin: 1.5rem;
  }

  p {
    font-size: 1.3rem;
    text-align: center;
  }
  .offers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .each-offer-text {
    display: flex;
    width: 70%;
    height: 100%;
    margin: 0.5rem;

    button {
      height: 2rem;
      width: 3rem;
    }
  }

  .offer-image {
    img {
      width: 100%;
      height: 100%;
      margin: 0 auto;
    }
    width: 50%;
    height: 100%;
  }
}
* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
    margin: 0;
  }
}

body {
  background-color: $light-green;
  font-family: $font-sans;
}

h1,
h2,
h3,
p {
  margin: 0;
  line-height: inherit;
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

a {
  text-decoration: none !important;
}

img {
  width: 100%;
  max-width: 100%;
}

form {
  display: flex;
  flex-direction: column;
}

input,
textarea,
button {
  padding: 1em;
  border: 1px solid $grey;
  border-radius: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background-color: white;
}

textarea {
  min-height: 8em;
  resize: vertical;
}

.body-margin {
  padding-bottom: 6rem;
}

.btn-primary {
  background-color: $dark-green;
  border-color: $light-green;
}

.btn-primary:hover {
  background-color: $light-green;
  border-color: $light-green;
}

// Google maps
#map-container {
  align-self: center;
  width: 100%;
  height: 70vh;
}

// NAVBAR
nav {
  font-weight: 700;
  height: 4.5rem;
  .nav-link {
    text-align: center;
  }
  .btn-sign-in {
    margin-top: 3px;
  }
  .nav-text {
    padding: 0;
    margin-left: 0;
    margin-bottom: 0;
  }
  .btn-sign-up {
    margin-top: 5px;
    width: 96px;
  }
  .first-icon {
    padding-top: 12px;
  }
  .second-icon {
    padding-top: 12px;
  }
}

// CAROUSEL
#carouselExampleInterval {
  margin: 2rem 0;
  height: 40vh;
  max-height: 40vh;
  img {
    object-position: top;
    height: 36vh;
    width: 100%;
  }
}

// Desktop and Tablet VIEW
$tablet-width: 768px;

@media (min-width: #{$tablet-width}) {
  .body-margin {
    padding-top: 7rem;
  }

  // NAVBAR
  nav {
    font-weight: 700;
    height: 5rem;
    //color: #000;

    .nav-item {
      height: 40px;
    }

    .cta-btn {
      margin-bottom: 8px;
      margin-top: 12px;
    }

    .user-image {
      // margin-top: 10px;
      width: 60px;
      height: 60px;
    }

    .btn-search {
      position: absolute;
      //  right: 50px;
    }
  }

  // INDEX GAMES GRID
  #games-grid {
    .games-grid-image {
      width: 100%;
      height: 14rem;
      display: flex;
      align-items: center;
      //margin-bottom: 2em;
    }
    .img-fluid {
    }
  }

  // Google maps
  #map-container {
    width: 100%;
    height: 70vh;
  }

  // Dropdown menu on hover
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
  }

  .dropdown button {
    padding: 0;
    margin: 0;
    border: none;
  }
}
.sign {
  label {
    color: white;
    font-weight: bold;
    padding: 20px 0px 10px;
    margin-bottom: 0;
  }
  input {
    color: gray;
    box-shadow: 10px 10px 0px 0px rgba(79, 78, 79, 1);
  }
  input:focus {
    color: black;
  }
  textarea {
    box-shadow: 10px 10px 0px 0px rgba(79, 78, 79, 1);
  }
  select {
    padding: 1em;
    border: 0px;
    color: gray;
    box-shadow: 10px 10px 0px 0px rgba(79, 78, 79, 1);
  }
  button {
    box-shadow: 10px 10px 0px 0px rgba(79, 78, 79, 1);
  }
}
